@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header #logo {
    padding: 32px;
    text-align: center;
}

header .menu {
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0 ,0.4);
    border-bottom: 1px solid rgba(0, 0, 0 ,0.4);
    text-align: center;
    color: #686868;
}

header .login {
    font-size: 12px;
    line-height: 18px;
    position: relative;
}

header .login ul {
    display: flex;
    align-items: center;
    list-style: none;
}

header .login li {
    margin: auto;
}

header .login a {
    text-decoration: none;
    color: #686868;
}

header .login ul:nth-child(1)::after {
    content: "";
    width: 1px;
    height: 10px;
    background-color: rgba(0, 0, 0 ,0.4);
    position: absolute;
    top: 4px;
    left: 83px;
}

header .menu .items {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
}

header .menu .items {
    margin: auto;
}

header .menu .items ul {
    display: flex;
    align-items: center;
}

header .menu .items li {
    list-style: none;
    font-size: 14px;
    line-height: 20px;
    margin-right: 60px;
}

header .menu .items li:last-child {
    margin-right: 0;
}

header .menu .items a {
    text-decoration: none;
    color: #686868;   
}

header .search__bag {
    position: relative;
}

header .search__bag::after {
    content: "";
    width: 90px;
    height: 2px;
    position: absolute;
    background-color: rgba(0, 0, 0 ,0.4);
    bottom: -6px;
    left: 30px;
}

header .search__bag img {
    width: 17px;
    margin-right: 10px;
}

header .search__bag span{
    margin-right: 20px;
}

header .search__bag span:last-child {
    margin-right: 0;
}

main {
    padding: 24px;
}

main .path {
    margin-bottom: 10px;
}

main .path span{
    font-size: 12px;
    line-height: 18px;
    color: #AEB6C1;
}

main #product__navigation {
    display: grid;
    grid-template-columns: 10% 45% 45%;
    position: relative;
    margin-bottom: 40px;
}

main #product__navigation p {
    font-size: 12px;
    line-height: 18px;
    color: #DE8F75;
    margin-bottom: 5px;
}

main #product__navigation .pictures__container {
    text-align: center;
}

main #product__navigation .video__picture img {
    width: 80%;
    height: 60px;
}

main #product__navigation .video__picture::after {
    content: "";
    position: absolute;
    width: 10%;
    height: 60px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.4);
}

main #product__navigation .video__play {
    position: absolute;
    top: 35px;
    left: 42px;
    cursor: pointer;
}

main #product__navigation .pictures__container .up__picture {
    margin-bottom: 10px;
}

main #product__navigation .pictures__container .pictures img {
    margin: auto;
    display: block;
    margin-bottom: 10px;
    width: 80%;
    height: 90px;
}

main #product__navigation .pictures__container .pictures .pictures__modal {
    position: relative;
}

main #product__navigation .pictures__container .pictures .pictures__modal::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 100%;
    top: 0;
    left: 12px;
    background-color: rgba(255, 255, 255, 0.4); 
}

main #product__navigation .main__picture {
    text-align: center;
}

main #product__navigation .main__picture img {
    width: 400px;
}

main #product__navigation .picture__info {
    padding: 16px;
    border: 2px solid #D2E1DF;
    width: 300px;
    height: 450px;
}

main #product__navigation .picture__info .identification h2 {
    font-size: 26px;
    line-height: 100%;
    text-transform: uppercase;
    color: #202020;
    margin-bottom: 5px;
}

main #product__navigation .picture__info .identification span {
    font-size: 14px;
    line-height: 20px;
    color: #202020;
    display: inline-block;
    margin-bottom: 20px;
}

main #product__navigation .picture__info .price .old__price{
    font-size: 14px;
    line-height: 20px;
    text-decoration: line-through;
    color: #E35442;
    display: inline-block;
    margin-right: 5px;
}

main #product__navigation .picture__info .price .new__price {
    font-size: 20px;
    color: #686868;
    font-weight: bold;
    margin-left: 5px;
    display: inline-block;
}

main #product__navigation .picture__info .price .credit__card{
    display: block;
    font-size: 12px;
    line-height: 18px;
    color: #7f7f7f;
    margin-bottom: 34px;
}

main #product__navigation .color {
    margin-bottom: 20px;
}

main #product__navigation .color p {
    font-size: 14px;
    line-height: 20px;
    color: #202020;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 15px;
}

main #product__navigation .color span {
    font-size: 14px;
    line-height: 20px;
    color: #5f75aa;
}

main #product__navigation .color .block__colors .disc{
    display: inline-block;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    cursor: pointer;
}

main #product__navigation .color .block__colors #Fucsia {
    background-color: #A9095E;
}

main #product__navigation .color .block__colors #Azul {
    background-color: #2A5A75;    
}

main #product__navigation .color .block__colors #Marrom {
    background-color: #A14830;
}

main #product__navigation .color .block__colors #Preto {
    background-color: #000000;
}

main #product__navigation .size {
    margin-bottom: 10px;
}

main #product__navigation .size p {
    font-size: 14px;
    line-height: 20px;
    color: #202020;
    display: inline-block;
    margin-right: 15px;
}

main #product__navigation .size span {
    font-size: 14px;
    line-height: 20px;
    color: #5f75aa;
    margin-right: 50px;
}

main #product__navigation .size a {
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #de8f75;
}

main #product__navigation .sizes {
    display: flex;
    margin-bottom: 30px;
}

main #product__navigation .sizes div {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
    height: 25px;
    border: 1px solid #ebebeb;
    margin-right: 2.5px;
    font-size: 12px;
    line-height: 23px;
    color: #5f75aa;
    cursor: pointer;
}

main #product__navigation .sizes div:last-child {
    margin-right: 0;
}

main #product__navigation button {
    border: none;
    padding: 16px 24px;
    background-color: #32917b;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 100;
    line-height: 26px;
    text-transform: uppercase;
    color: #ffffff;
    margin: auto;
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
}

main #product__navigation .picture__info .foot{
    font-size: 14px;
    line-height: 28px;
    color: #202020;
    text-align: justify;
}

main #banner__slide h3 {
    font-size: 26px;
    line-height: 38px;
    text-align: center;
    color: #DE8F75;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 10px;
}

main #banner__slide .banner__pictures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
}

main #banner__slide .banner__pictures img {
    width: 90%;
    margin-right: 30px;
}

main #banner__slide .banner__pictures .info {
    display: flex;
    justify-content: space-around;
    align-items: center;    
}

main #banner__slide .banner__pictures p {
    font-size: 16px;
    line-height: 23px;
    color: #202020;
    margin-left: -45px;
}

main #banner__slide .banner__pictures .picture03 p {
    margin-left: -225px;
}

main #banner__slide .banner__pictures .disc {
    display: inline-block;
    margin-left: 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
}

main #banner__slide .banner__pictures #Vermelho {
    background-color: #a9095e;
}

main #banner__slide .banner__pictures #Azul {
    background-color: #6b85c1;
}

main #banner__slide .banner__pictures #Marrom {
    background-color: #a14830;
}

main #banner__slide .banner__pictures #Preto {
    background-color: black;
}